@tailwind base;
@tailwind components;
@tailwind utilities;

/* app/globals.css */


body{
  margin: 0px;
  overflow: hidden; /* Hide scrollbars */
  background-color: #e5e5e5;
  background-image: url('/images/grainyBG.png');
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url('/fonts/SourceSerif4-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Source Serif Pro';
  src: url('/fonts/SourceSerif4-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


