@tailwind base;
@tailwind components;
@tailwind utilities;

/* app/globals.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* import background image from local file */
  background-image: url('/images/grainyBG.png');
}


@font-face {
  font-family: 'Source Serif Pro';
  src: url('/fonts/SourceSerif4-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url('/fonts/SourceSerif4-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


